#ribbon {
    width: 100%;
    background-color: rgb(225,225,225);
    height: 40px;
}

.ui-ribbon-modeltree {
    width: 32px;
    height: 32px;
    background-image:url("images/modeltree.png");
    margin-right: 5px;
}
